@-webkit-keyframes dots {
  /* line 2, ../sass/spinner.scss */
  0% {
    background: rgba(0, 0, 0, 0.5);
  }

  /* line 6, ../sass/spinner.scss */
  50% {
    background: rgba(0, 0, 0, 0.1);
  }
}

/* line 11, ../sass/spinner.scss */
#spin {
  text-align: center;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: .6s;
}
/* line 18, ../sass/spinner.scss */
#spin.show {
  height: 2em;
  opacity: 1;
}
/* line 23, ../sass/spinner.scss */
#spin .dot {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: .5em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-animation: dots .3s infinite;
}
/* line 32, ../sass/spinner.scss */
#spin .dot:nth-child(2) {
  -webkit-animation-delay: .1s;
}
/* line 35, ../sass/spinner.scss */
#spin .dot:nth-child(3) {
  -webkit-animation-delay: .2s;
}
