@-webkit-keyframes dots {
  /* line 2, ../sass/spinner.scss */
  0% {
    background: rgba(0, 0, 0, 0.5);
  }

  /* line 6, ../sass/spinner.scss */
  50% {
    background: rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes hide {
  /* line 12, ../sass/spinner.scss */
  0% {
    opacity: 1;
  }

  /* line 16, ../sass/spinner.scss */
  99% {
    display: block;
    opacity: 0;
  }

  /* line 21, ../sass/spinner.scss */
  100% {
    display: none;
  }
}

@-webkit-keyframes show {
  /* line 27, ../sass/spinner.scss */
  0% {
    opacity: 0;
    display: none;
  }

  /* line 32, ../sass/spinner.scss */
  1% {
    opacity: 0;
    display: block;
  }

  /* line 37, ../sass/spinner.scss */
  100% {
    opacity: 1;
  }
}

/* line 42, ../sass/spinner.scss */
#spin {
  text-align: center;
  display: none;
}
/* line 46, ../sass/spinner.scss */
#spin.hide {
  -webkit-animation: hide 1s;
}
/* line 50, ../sass/spinner.scss */
#spin.show {
  -webkit-animation: show 1s;
}
/* line 54, ../sass/spinner.scss */
#spin .dot {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: .5em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-animation: dots .3s infinite;
}
/* line 63, ../sass/spinner.scss */
#spin .dot:nth-child(2) {
  -webkit-animation-delay: .1s;
}
/* line 66, ../sass/spinner.scss */
#spin .dot:nth-child(3) {
  -webkit-animation-delay: .2s;
}
