/* line 3, ../sass/style.scss */
body {
  padding-bottom: 1em;
}

/* line 7, ../sass/style.scss */
h2 {
  color: #5A5A5A;
  text-align: center;
}

/* line 13, ../sass/style.scss */
.navbar-default .navbar-brand {
  font-family: "Freebooter Regular", sans-serif;
  font-size: 2em;
  color: #2d2d2d;
}
/* line 19, ../sass/style.scss */
.navbar-default a {
  font-size: 1.3em;
}

/* line 24, ../sass/style.scss */
#main-form {
  font-size: 1.8em;
  text-align: center;
  color: #5A5A5A;
  line-height: 2;
  padding: .5em .5em .7em .5em;
}
/* line 31, ../sass/style.scss */
#main-form .tt-hint {
  top: -999999px !important;
  left: -999999px !important;
}
/* line 36, ../sass/style.scss */
#main-form input.form-control {
  width: 7em;
}
/* line 40, ../sass/style.scss */
#main-form .form-control {
  font-size: 1em;
  width: auto;
  height: auto;
  display: inline-block;
  background: white !important;
  vertical-align: middle !important;
  padding: .1em 0.3em;
}
/* line 49, ../sass/style.scss */
#main-form .form-control option {
  text-align: center;
}

/* line 55, ../sass/style.scss */
.hackathons, .hackers {
  padding: 1em 0;
}
/* line 59, ../sass/style.scss */
.hackathons .hackathon img, .hackathons .hacker img, .hackers .hackathon img, .hackers .hacker img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  display: block;
}
/* line 67, ../sass/style.scss */
.hackathons .hackathon a, .hackathons .hacker a, .hackers .hackathon a, .hackers .hacker a {
  padding: .2em;
  max-width: 100%;
  display: block;
  font-size: 1.3em;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #2d2d2d;
}
/* line 78, ../sass/style.scss */
.hackathons .hackathon p, .hackathons .hacker p, .hackers .hackathon p, .hackers .hacker p {
  text-align: center;
  font-size: 1.1em;
  word-wrap: break-word;
}

/* line 86, ../sass/style.scss */
.whoops {
  text-align: center;
  color: #ddd;
  font-weight: bold;
  font-size: 2em;
  padding: 1em;
}

/* line 94, ../sass/style.scss */
#register-hackathon a {
  font-size: 3em;
  padding-top: .1em;
  padding-bottom: .1em;
  transition: background .5s;
}
