@-webkit-keyframes dots {
	0% {
		background: rgba(0,0,0,.5);
	}

	50% {
		background: rgba(0,0,0,.1);
	}
}

@-webkit-keyframes hide {
	0% {
		opacity: 1;
	}

	99% {
		display: block;
		opacity: 0;
	}

	100% {
		display: none;
	}
}

@-webkit-keyframes show {
	0% {
		opacity: 0;
		display: none;
	}

	1% {
		opacity: 0;
		display: block;
	}

	100% {
		opacity: 1;
	}
}

#spin {
	text-align: center;
	display: none;

	&.hide {
		-webkit-animation: hide 1s;
	}

	&.show {
		-webkit-animation: show 1s;
	}

	.dot {
		width: 1em;
		height: 1em;
		display: inline-block;
		margin: .5em;
		background: rgba(0,0,0,.5);
		-webkit-animation: dots .3s infinite;
	}

	.dot:nth-child(2) {
		-webkit-animation-delay: .1s;
	}
	.dot:nth-child(3) {
		-webkit-animation-delay: .2s;
	}
}