@-webkit-keyframes dots {
	0% {
		background: rgba(0,0,0,.5);
	}

	50% {
		background: rgba(0,0,0,.1);
	}
}

#spin {
	text-align: center;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: .6s;

	&.show {
		height: 2em;
		opacity: 1;
	}

	.dot {
		width: 1em;
		height: 1em;
		display: inline-block;
		margin: .5em;
		background: rgba(0,0,0,.5);
		-webkit-animation: dots .3s infinite;
	}

	.dot:nth-child(2) {
		-webkit-animation-delay: .1s;
	}
	.dot:nth-child(3) {
		-webkit-animation-delay: .2s;
	}
}