@import "compass";

#main-form {
	font-size: 2em;
	text-align: center;
	color: #5A5A5A;
}

#main-form .form-control {
	font-size: 1em;
	width: auto;
	height: auto;
	display: inline-block;
}

#main-form .form-control option {
	text-align: center;
}

.bootstrap-tagsinput {
	padding-top: 0;
	line-height: inherit;
	margin-bottom: 0;
}

h2 {
	color: #5A5A5A;
	text-align: center;
}